<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jLeta.myfirstandroidapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- starting the Splash activity first -->
        <activity  android:name=".Splash" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>               
        
        <!--  MENU activity -->
        <activity android:name=".Menu" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.jLeta.myfirstandroidapp.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- main activity will start later -->
        <activity android:name=".Starter" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="org.jLeta.myfirstandroidapp.STARTER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!--  text play activity , no need to say it is default activity, default is default any way-->
        <!--  we also don't need action name we will call it using class name inside code -->
        <activity android:name=".TextPlay" android:label="@string/app_name"/>
        <activity android:name=".Email" android:label="@string/app_name"/>
        <activity android:name=".Camera" android:label="@string/app_name"/>                
    </application>
    
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>//

</manifest>
